###########################################################
#  Computer Project #1
#
#  Algorithm
#    prompt for a floating point value
#    input an integer
#    enter constants for conversions
#    multiply input rods with conversion constants and round answers to 3 decimal places
#    print conversions
#    note for minutes to walk: speed= distance*time
###########################################################

import math

num_str = input('Input rods: \n') #ask for number of rods
num_float = float(num_str) #convert to float
print ('You input' ,num_float, 'rods.\n') #print "your input: "

#write down all the conversions from the project 1 pdf
ROD_TO_METERS = 5.0292
FOOT_TO_METERS = ROD_TO_METERS/0.3048
MILE_TO_METERS = ROD_TO_METERS/1609.34
FURLONG_TO_RODS = 40
RODS_TO_FURLONG = 1/FURLONG_TO_RODS
RODS_TO_MILES = ROD_TO_METERS/1609.34

print ('Conversions')

print ('Meters:',round(num_float*ROD_TO_METERS, 3)) #convert to meters
print ('Feet:',round(num_float*FOOT_TO_METERS, 3)) #convert to feet
print ('Miles:',round(num_float*MILE_TO_METERS, 3)) #convert to miles
print ('Furlongs:',round(num_float*RODS_TO_FURLONG, 3)) #convert to furlings
print ('Minutes to walk' ,num_float, 'rods:' ,round(num_float* \
(RODS_TO_MILES/3.1*60), 3)) #convert to minutes to walk
